:root {
  --primary: #879d95;
  --secondary: #d2c9ba;
  --deep: #1b5862;
  --light: #f8d3ba;
  --focus: #f76f6c;
}

.primary-text {
  color: var(--primary);
}

.secondary-text {
  color: var(--secondary);
}

.deep-text {
  color: var(--deep);
}

.light-text {
  color: var(--light);
}

.focus-text {
  color: var(--focus);
}

.primary-bg {
  background-color: var(--primary);
}

.secondary-bg {
  background-color: var(--secondary);
}

.deep-bg {
  background-color: var(--deep);
}
.light-bg {
  background-color: var(--light);
}
.focus-bg {
  background-color: var(--focus);
}

.btn:hover {
  background-color: var(--secondary);
}

.deep-border {
  border-style: solid;
  border-width: 1px;
  border-color: var(--deep);
  border-radius: 15px;
}
