{% extends "base.html" %}

{%block content%}
<div class="container d-flex justify-content-center w-md-75 w-90 mt-4">
	<div class="container p-2 challenge-border shadow-lg">
		<form class="form" id="createForm" method="post">
			<h1 class="text-center">Create a Challenge</h1>
			<hr class="challenge-border">
			{{ create_form.hidden_tag() }}
			{% for field in create_form %}
			{% if field.type == "StringField" or field.type == "DateTimeLocalField" %}
			<div class="row my-3 gy-2">
				{{ field.label(class="form-label col-lg-2 col-md-3 col-sm-4 text-sm-end") }}
				<div class="col">
					{{ field(class="form-control") }}
				</div>
				{% for error in field.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			</div>
			{% endif %}
			{% endfor %}
			<div class="d-flex justify-content-center mb-2">
				{{ create_form.submit(class="btn btn-primary col-5") }}
			</div>
			{% for error in errors %}
			<span class="form-label" style="color: red">{{error}}</span><br>
			{% endfor %}
		</form>
	</div>
</div>
{%endblock%}