{% extends "base.html" %}
{% block content %}

<div class="mx-5 my-2">
	<div class="row lead text-center d-none d-md-flex mb-4" id="tableHeader">
		<span class="col-md-2">Challenge Title</span>
		<span class="col-md-2">From</span>
		<span class="col-md-2">To</span>
		<span class="col-md-2">Guesses</span>
		<span class="col-md-2">Creator</span>
		<span class="col-md-2">Time Left</span>
	</div>
	{% for challenge in challenges %}
	<div class="row cursor-pointer table-row text-center border-top py-3"
		onclick="location.href='{{ url_for('view') +'?id='+challenge.id|string}}'">
		<span class="d-block d-md-none col-md-0 col-6 lead">Challenge Title: </span>
		<span class="col-md-2 col-6">{{challenge.title}}</span>
		<span class="d-block d-md-none col-md-0 col-6 lead">From: </span>
		<span class="col-md-2 col-6">{{challenge.startArticle}}</span>
		<span class="d-block d-md-none col-md-0 col-6 lead">To: </span>
		<span class="col-md-2 col-6">{{challenge.endArticle}}</span>
		<span class="d-block d-md-none col-md-0 col-6 lead">Guesses: </span>
		<span class="col-md-2 col-6">{{challenge.guesses}}</span>
		<span class="d-block d-md-none col-md-0 col-6 lead">Creator: </span>
		<span class="col-md-2 col-6">{{challenge.creator}}</span>
		<span class="d-block d-md-none col-md-0 col-6 lead">Time Left: </span>
		<span class="col-md-2 col-6">
			{% if challenge.finished %}
			{{"Finished"}}
			{% else %}
			{{challenge.timeLeft}}
			{% endif %}
		</span>
	</div>
	{% endfor %}
</div>
{% endblock %}