{% extends "base.html" %}
{% block content %}

<div class="mx-5 my-2">
	<div class="row my-3">
		<form class="form d-flex" method="POST">
			{{ search_form.hidden_tag() }}
			{{ search_form.search(class="form-control me-2") }}
			{{ search_form.submit(class="btn btn-secondary") }}
		</form>
	</div>
	<div class="row lead text-center d-none d-md-flex mb-4" id="tableHeader">
		<span class="col-md-2">Challenge Title</span>
		<span class="col-md-2">From</span>
		<span class="col-md-2">To</span>
		<span class="col-md-2">Guesses</span>
		<span class="col-md-2">Creator</span>
		<span class="col-md-2">Time Left</span>
	</div>

	<div>
	{% with messages = get_flashed_messages() %}
    {% if messages %}
    	{% for message in messages %}
		<p>{{ message }}</p>
        {% endfor %}
    {% endif %}
    {% endwith %}
	{% for challenge in challenges %}
	</div>

	<div class="row cursor-pointer table-row text-center  my-3 py-3"
		onclick="location.href='{{ url_for('view') +'?id='+challenge.id|string}}'">
		<span class="d-block d-md-none col-md-0 col-6 lead">Challenge Title: </span>
		<span class="col-md-2 col-6">{{challenge.title}}</span>
		<span class="d-block d-md-none col-md-0 col-6 lead">From: </span>
		<span class="col-md-2 col-6">{{challenge.startArticle}}</span>
		<span class="d-block d-md-none col-md-0 col-6 lead">To: </span>
		<span class="col-md-2 col-6">{{challenge.endArticle}}</span>
		<span class="d-block d-md-none col-md-0 col-6 lead">Guesses: </span>
		<span class="col-md-2 col-6">{{challenge.guesses}}</span>
		<span class="d-block d-md-none col-md-0 col-6 lead">Creator: </span>
		<span class="col-md-2 col-6">{{challenge.creator}}</span>
		<span class="d-block d-md-none col-md-0 col-6 lead">Time Left: </span>
		<span class="col-md-2 col-6">
			{% if challenge.finished %}
			{{"Finished"}}
			{% else %}
			{{challenge.timeLeft}}
			{% endif %}
		</span>
	</div>
	{% endfor %}
</div>
{% endblock %}