{% extends "base.html" %}
{% block content %}

<div class="mx-5 my-2">
	<div class="row my-3 justify-content-end">
		<nav class="col-auto">
		  <ul id="pagination" class="pagination justify-content-end" data-page={{current_page}} data-totalpages={{total_pages}}>
		    <li class="page-item">
		      <a class="page-link page-link-start" href="#">
		        <span aria-hidden="true">&#8676;</span>
		      </a>
		    </li>
		    <li class="page-item page-item-1"><a class="page-link" href="#">1</a></li>
		    <li class="page-item page-item-2"><a class="page-link" href="#">2</a></li>
		    <li class="page-item page-item-3"><a class="page-link" href="#">3</a></li>
		    <li class="page-item">
		      <a class="page-link page-link-end" href="#">
		        <span aria-hidden="true">&#8677;</span>
		      </a>
		    </li>
		  </ul>
		</nav>
	</div>
	<div class="row lead text-center d-none d-md-flex mb-4" id="tableHeader">
		<span class="col-md-3">Rank</span>
		<span class="col-md-6">Username</span>
		<span class="col-md-3">WikiAura</span>
	</div>
	{% for user in users %}
	<div class="row cursor-pointer user-table-row {% if user.username == current_username %} active {% endif %} text-center  my-3 py-3">
		<span class="d-block d-md-none col-md-0 col-6 lead">Rank: </span>
		<span class="col-md-3 col-6">{{user.rank}}</span>
		<span class="d-block d-md-none col-md-0 col-6 lead">Username: </span>
		<span class="username-col col-md-6 col-6">{{user.username}}</span>
		<span class="d-block d-md-none col-md-0 col-6 lead">WikiAura: </span>
		<span class="col-md-3 col-6">{{user.WikiAura}}</span>
	</div>
	{% endfor %}
</div>

<script src="{{ url_for('static',filename='front-end-scripts/pages.js') }}"></script>
{% endblock %}