{% block login %}
<!-- Create the popup for logging in using a Bootstrap modal -->
<div class="modal fade" id="loginPopup" data-bs-keyboard="false" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Login</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
			<div class="modal-content">
				<form action="{{ url_for('login') }}" method="post" class="container-fluid my-1">
					{{ form.hidden_tag() }}
					<div class="row my-3 gy-2">

						{{form.username.label(class="col-form-label col-2")}}
						<div class="col-10">
							{{form.username(class="form-control")}}
						</div>
					</div>
					<div class="row my-3 gy-2">
						{{form.password.label(class="form-label col-2")}}
						<div class="col-10">
							{{form.password(class="form-control")}}
						</div>
						<p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						{{ form.submit(class="btn btn-primary") }}
					</div>

				</form>
			</div>

		</div>
	</div>
</div>
{% endblock %}