{% block login %}
<!-- Create the popup for logging in using a Bootstrap modal -->
<div class="modal fade" id="loginPopup" data-bs-keyboard="false" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content shadow-lg">
			<div class="modal-header d-flex justify-content-between">
				<h5 class="modal-title">Login</h5>
				<button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close">
					<i class="fa-solid fa-times" aria-hidden="true"></i>
				</button>
			</div>
			<form id="loginForm">
				<div class="modal-body">
					{{ form.hidden_tag() }}
					<div class="row my-3">
						{{form.username.label(class="form-label col-2")}}
						<div class="col-10">
							{{form.username(class="form-control")}}
						</div>
					</div>
					<div class="row mt-3 gy-2">
						{{form.password.label(class="form-label col-2")}}
						<div class="col-10">
							{{form.password(class="form-control")}}
						</div>
						<p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
					</div>
					<h6 class="h6 warning-text" id="loginErrorMsg"></h6>
				</div>
				<div class="modal-footer d-flex justify-content-between">
					{{ form.create_account(class="btn btn-primary loginFormButton", id=url_for('create_account')) }}
					<div>
						<button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
						{{ form.login(class="btn btn-focus loginFormButton", id=url_for('login')) }}
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
</div>
{% endblock %}