{% block submit %}


<div class="accordion accordion-flush" id="submission-accordion">
	<div class="accordion-item mb-2">
		<h2 class="accordion-header">
		</h2>
		<div id="collapseSubmission" class="accordion-collapse collapse" data-bs-parent="#submission-accordion">
			<div class="accordion-body">
                <form method="POST" action="">
					{{ submitForm.csrf_token }}
					{% for ind in submitForm.path %}
                        <div class="formPathHidden">
                            {{ ind.label }}
                            {{ ind() }}
                        </div>
                    {% endfor %}
					<button type="submit">Submit the attempt</button>
				</form>
                <button id="revealPathForm">Reveal more paths idk</button>
			</div>
		</div>

	</div>
</div>
{% endblock %}