<!-- this template displays a single submission (For the view)
NOTE that accordion rendering will likely require all elements to be rendered *in* the accordion-->

{% block submission %}

<div class="accordion accordion-flush" id="submission-accordion">
	{% for submission in submissions %}
	<div class="accordion-item mb-3">
		<h2 class="accordion-header mb-3">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
				data-bs-target='{{"#collapseSubmission"+submission.creator.username }}' aria-expanded="false"
				aria-controls="collapseSubmission">
				<h2>{{submission.creator.username+ " "}}<span class="h4">({{submission.article_no}} articles) </span>
				</h2>
			</button>
		</h2>
		<div id='{{"collapseSubmission"+submission.creator.username }}' class="accordion-collapse collapse"
			data-bs-parent="#submission-accordion">
			<div class="accordion-body">
				<div class="row">
					<p class="col-lg-3 col-md-4 col-sm-6">Here's my path:</p>
					<p class="col">{{submission.path.replace("|", " -> ")}}</p>
					<p>Time Submitted: {{submission.dt_submit}}</p>
				</div>
			</div>
		</div>

	</div>
	{% else %}
	<p class="text-center fst-italic fw-light">No submissions yet</p>
	{% endfor %}
</div>
{% endblock %}