{% extends "base.html" %}

{% block content%}

<div class="container d-flex justify-content-center w-75  mt-4">
	<div class="row d-flex w-100 challenge-border shadow-lg p-2 text-break ">
		<h1>Title of Challenge - Creator </h1>
		<hr class="challenge-border">
		<div class="row mb-3">
			<span class="fst-italic col-lg-3 col-md-4 col-sm-6">Source article:</span>
			<span class="col-sm">left</span>
		</div>
		<div class="row mb-3">
			<span class="fst-italic col-lg-3 col-md-4 col-sm-6">Destination article:</span>
			<span class="col"> right</span>
		</div>
		<div class="row mb-3">
			<span class="fst-italic col-lg-3 col-md-4 col-sm-6">Time remaining:</span>
			<span class="col-8">sometime </span>
			<span class="col-1"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
				data-bs-target="#collapseSubmission" aria-expanded="false" aria-controls="collapseSubmission">Submit
			</button></span>
		</div>
		<hr class="challenge-border">
		{# {% if current_user.is_anonymous %}
		{% include "submission.html"%}
		{% else %}
		{% include "submit.html" %}
		{% endif %} #}
		{% include "submit.html" %}

	</div>

</div>


<script src="{{ url_for('static',filename='front-end-scripts/submit.js') }}"></script>
{% endblock %}