{% extends "base.html" %}

{% block content%}

<div class="container d-flex justify-content-center w-md-75 w-90 mt-4">
	<div class="row d-flex w-100 challenge-border shadow-lg p-2 text-break ">
		<h1>Title of Challenge - Creator </h1>
		<hr class="challenge-border">
		<div class="row mb-3">
			<span class="fst-italic col-lg-3 col-md-4 col-sm-6">Source article:</span>
			<span class="col-sm">left</span>
		</div>
		<div class="row mb-3">
			<span class="fst-italic col-lg-3 col-md-4 col-sm-6">Destination article:</span>
			<span class="col"> right</span>
		</div>
		<div class="row mb-3">
			<span class="fst-italic col-lg-3 col-md-4 col-sm-6">Time remaining:</span>
			<span class="col-6">sometime </span>
		</div>
		<hr class="challenge-border">
		{# {% if submitted %}
		{% include "submission.html"%}
		{% else %}
		{% include "submit.html" %}
		{% endif %} #}
		{% include "submit.html" %}

	</div>

</div>


<script src="{{ url_for('static',filename='front-end-scripts/submit.js') }}"></script>
{% endblock %}